---
id: flaky-tests-report
title: Flaky Tests Report
---

import useBaseUrl from "@docusaurus/useBaseUrl";

## What is Flaky tests

See [Flaky tests](/flaky-tests)

## How to see the Report

1. Go to the [Test Plan](/test-plans#test-plan-details) page.

2. Click **Tests Flakiness Report**.

3. Scroll down and up to see all report.

<img alt="setting" src={useBaseUrl("img/flaky-tests.svg")} />

:::note

Test Orchestrator display only the last 20 test runs.

:::

## How can I use it?

Tests Flakiness Report provides you all information about the 20 last [results](/test-result) in all test runs. You can [disable](/test-status#disabled) or make tests [quarantined](/test-status#quarantined) until tests improving stable.
