---
id: test-result
title: Test result
---

Test Orchestrator provides you four types of result.

## Passed

In the last run, the test was passed.

## Passed after rerun

The test has passed after rerun.

## Failed

In the last run, the test was failed.

## Skipped

In the last run, the test was skipped.
