---
id: test-result
title: Test result
---

Test Orchestrator provides you with four types of result, which helps you to understand what happens during the run. For the failed tests from the last run a screenshot and an error message are shown.

## Passed

In the last run the test has passed.

## Passed after rerun

In the last run the test has passed after rerun.

## Failed

In the last run the test has failed. You can see a screenshot of the screen at that specific state and an error message.

## Skipped

In the last run the test was skipped.
