---
id: test-result
title: Test result
---

Test Orchestrator provides you four types of result.

## Passed

## Passed after rerun

## Failed

## Skipped
